* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    background-color: antiquewhite;
    flex: 4;
}

.header-body-container {
    flex: 3;
}

.sidebar {
    height: 100vh;
    background-color: rgb(91, 91, 217);
    flex: 1;
}

.header {
    background-color: aqua;
    width: 100%;
}

.main {
    background-color: gray;
    height: 90vh;
}

.menu-item>a {
    text-decoration: none;
    color: red;
}